
*{
	box-sizing: border-box;
}

.body{
    font-family: sans-serif;
    margin: 0;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#97bf04;
    background-color: #120323;
    padding: 20px;
}
.header-container img{
    padding: 15px;
}

#container{
    display: flex;
    justify-content: space-between;

}

    figure {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
}
    
    figure img {
        margin: 0;
        max-width: 100%;
        height: auto;    
        border: 5px solid #d9043d;
    }
    
    figcaption {
        margin-top: 10px;
       padding: 15PX;
    }

    figure{
        flex: 3;
    }

aside{
    flex:2;
    background-color: #97bf04;
    padding: 10px;
    margin-bottom: 20px;
    height: auto;
    
}

footer{
    display: flex;
    background-color: #d9043d;
    justify-content: center;
    text-align: center;
    color: white;
}


/* Responsive styles */

@media screen and (max-width: 768px) {
    #container {
        flex-direction: column;
    }
    .header-container{
        flex-direction: column;
    }

    figure {
        flex-direction: column  ;
    }
    figure img {
        max-width: 100%; 
        height: auto;
    }
   
    aside {
        margin-top: 5px;
        width: 100%;
    }
    footer {
        flex-direction: column; 
        padding: 10px;          
        text-align: center;     
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
   
  #container {
    flex-direction: column;
    justify-content: space-between; /* Add space between columns */
}

figure {
    flex: row;
    
}
figure img {
    max-width: 300px;
    height: auto;
}
    .header-container{
        flex-direction: row;
    }
    aside {
        flex-direction: column;
        margin-top: 20px;
        
    }
    footer {
        flex-direction: column; 
        padding: 20px;          
        text-align: center;  
         
    }
    
}

@media screen and (min-width: 1001px) and (max-width: 1511) {
    #container {
        flex-direction: row;
    }

    .header-container {
        flex-direction: row;
        align-items: center;
    }

    figure {
        flex-direction: row;
        align-items: center;
    }

    figure img {
        flex-direction: row;
        max-width: 290px; /* Smaller puffin image */
        height: auto;
    }
    figcaption{
        max-width: 350px;
    }

    aside {
        flex-direction: row;
        min-width: 400px;
        margin-left: 20px;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
}